<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="gbk" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../static/js/jquery.js"></script>

    <title>登陆/注册</title>
</head>

<body>
    <div class="main" style="text-align: center; padding-top: 10%;">
        <form name="login" action="index.php" method="post">
            <h2>注册/登录</h2>
            </br></br>
            <div>
                <label for="username">用户名</label>
                <input type="text" name="username" id="username" placeholder="用户名" />
            </div>
            </br>
            <div>
                <label for="password">密&nbsp&nbsp&nbsp码</label>
                <input type="password" id="password" name="password" placeholder="密码" />
            </div>
            </br></br>
            <div class="row">
                <button type="submit" name="login" style="margin-right: 3%;">登录</button>
                <button type="submit" name="signup" style="margin-left: 3%;">注册</button>
            </div>
        </form>
    </div>
</body>

</html>